/*.ui-widget-header {
	background: #fc7000;
	border: 1px solid #b9cd6d;
	color: #FFFFFF;
	font-weight: bold;
}*/
* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
li {
	list-style: none;
}
img {
	border: none;
}
.ui-widget-content {
	border: 1px solid #DDDDDD;
	color: #333333;
	border-radius: 3px;
}
#resizable {
	min-width: 261px;
	width: 261px;
	text-align: center;
	position:absolute;
	right:0;
	top:0;
/*	margin: 100px auto; */
}
.windows-content {
	background: #2796E1;
	padding: 0.5em;
}
.windows-titleBar {
	overflow: hidden;
}
.windows-titleQ {
	float: left;
	width: 20px;
	background:#2796E1;
	color:#fff;
	font-weight: bold;
	font-family: tahoma, helvetica, clean, sans-serif;
}
.windows-titleButtonBar {
	float: right;
	width: 78px;
}
.windows-titleButtonBar .windows-button1 {
	background: url(../images/sprite.png) 0 -784px!important;
	height: 20px;
	width: 39px;
	display: block;
	float: right;
}
.windows-titleButtonBar .windows-button1:hover {
	background: url(../images/sprite.png) 0 -744px!important;
}
.windows-titleButtonBar .windows-button2 {
	background: url(../images/sprite.png) 0 -944px!important;
	height: 20px;
	width: 39px;
	display: block;
	float: left;
}
/*.windows-titleButtonBar .windows-button2:hover {
	background: url(../images/sprite.png) 0 -907px!important;
}*/
.windows-photo {
	overflow: hidden;
	margin-top: 15px;
}
.windows-PhotoImages {
	float: left;
}
.windows-PhotoImages img {
	display: inline;
	/*position: relative;*/
	float: left;
	border: 1px solid #999;
	padding: 1px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: white;
	zoom: 1;
	cursor: pointer;
	box-shadow: 1px 1px 3px #666;
	-moz-box-shadow: 1px 1px 3px #666;
	-webkit-box-shadow: 1px 1px 3px #666;
}
.windows-PhotoName {
	float: left;
	margin-left: 10px;
	font-size: 14px;
}
.windows-PhotoName .windows-PhotoState img {
	width: 12px;
	height: 12px;
}
.windows-PhotoName .windows-PhotoState span {
	margin: 0 10px;
	line-height: 16px;
	font-weight: bold;
	cursor: pointer;
}
.windows-PhotoName .windows-PhotoLabel {
	line-height: 22px;
	text-align: left;
	font-size: 12px;
}
.none {
	display: none;
}
.nav h3 {
	font-family: "Microsoft YaHei", 微软雅黑;
	font-size: 16px;
	background: #f7f7f7;
	height: 43px;
	line-height: 43px;
	padding-left: 12px;
}
.nav ul li {
	display: inline;
}
.nav ul li.liall a, .nav ul li a {
	background: url(../images/bg1.png) no-repeat 200px 18px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 14px;
	color: #555;
	display: block;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px dotted #d2d2d2;
}
.nav ul li.liall a {background:none;}
.nav ul li a.noline {
	border-bottom: none;
}
.nav ul li a:hover {
	color: #8caf00;
}
.nav ul li a.selected:hover {
	color: #fff;
}
.nav ul li .selected {
	background-color: #8caf00;
	background-position: 200px -9px;
	color: #fff;
}
.nav ul li {
	border-bottom: 1px dotted #d2d2d2;
	display: inline-block;
	width: 100%;
	position: relative;
	min-height: 43px;
	_height: 43px;
	z-index: 10;
	zoom: 1
}
.nav ul li h4 {
	cursor: pointer;
	background: url(../images/bg3.png) no-repeat left 18px;
	text-decoration: none;
	font-size: 14px;
	color: #555;
	display: block;
	line-height: 43px;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	padding-left: 15px;
	margin-left: 10px;
}
.nav ul li.noline {
	border-bottom: none;
}
.nav ul li h4:hover {
	color: #fc7000;
}
.nav ul li.selected h4 {
	background-position: 0px -37px;
	border-bottom: 1px dotted #d2d2d2;
}
.nav ul li a {
}
.nav ul li .on a {
	color: #8caf00;
	font-weight: bold;
}
.nav ul li a:hover {
	color: #8caf00;
	text-decoration: underline;
}
.bg-color {
	background-color: #8caf00;
}
.nav li .list-item {
	padding: 5px 0;
	position: relative;
	zoom: 1
}
.nav li .list-item p {
	padding-left: 8px;
	background: url(../images/ico_li.png) no-repeat 60px center;
}
.nav li .list-item a {
	background: none;
	border: none;
	color: #333333;
	display: block;
	text-align: left;
	font-size: 12px;
	width: 130px;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}
.nav li .list-item a:hover {
	color: #000;
	text-decoration: none;
}
.nav {
	zoom: 1;
	margin: 0 auto;
}
.ser-online a {
	background: url(../images/bg_ser_online.jpg) no-repeat 0 0;
	margin-top: 10px;
	height: 75px;
	border: 1px solid #eaeaea;
	display: block;
}
.list-two {
	overflow: hidden;
	padding-left: .5em;
	margin: .5em 0;
	height:35px;
	line-height:35px;
}
.list-two:hover {
	background: #fff9f4;
}
.list-two img {
  /*
	float: left;
	margin-top: 3px;
	*/
}
.list-two a {
	float: left;
}
#tabs {
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
}
#tabs .ul {
	padding: 0px;
	margin: 0;
	border-radius: 0;
	border: none;
	background: #fff;
}
#tabs .ul li {
	height: 35px;
	font-size: 12px;
	width: 33.33%;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
}
#tabs .ul li.all {
  height:0;
  background:none;
  width:100%;
}
#accordion {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#tabs .ul .li1 {
	background: #d5f2ff;
}
#tabs .ul .li2 {
	background: #b5e4f9;
}
#tabs .ul .li3 {
	background: #b5e4f9;
}
#accordion h3 {
	border: none;
	background: none;
	text-align: left;
	margin: 0;
	padding: 0;
	margin: 10px 10px;
	background: url(../images/arrow.png) no-repeat left center;
	padding-left: 6px;
}
#accordion li {
	height: 25px;
	line-height: 25px;
	text-align: left;
	overflow: hidden;
	margin: 10px 0;
}
#accordion li img {
	height: 25px;
	width: 25px;
	float: left;
	display: block;
}
#accordion li span {
	float: left;
	margin-left: 10px;
}
#tabs-1 {
	margin: 0;
	padding: 0;
}
#tabs-2 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	min-height: 200px;
	text-align: left;
	margin: 10px 0 0 10px;
}
#tabs-3 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	min-height: 200px;
	text-align: left;
	margin: 10px 0 0 10px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 8px 34px
}
#resizable1 {
	min-width: 500px;
	width: 500px;
	position: absolute;
	top: 50%;
	left:50%;
	margin: -250px 0 0 -250px;
}
.windowsTitle {
	overflow: hidden;
	background: #2796E1;
	padding: 5px;
	color:#fff;
	height: 55px
}
.windowsTName {
	float: left;
}
.windowsTName img {
	display: inline;
	/*position: relative;*/
	float: left;
	border: 1px solid #999;
	padding: 1px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: white;
	zoom: 1;
	cursor: pointer;
	box-shadow: 1px 1px 3px #666;
	-moz-box-shadow: 1px 1px 3px #666;
	-webkit-box-shadow: 1px 1px 3px #666;
}
.windowsTName span {
	margin-left: 10px;
	font-weight: bold;
	margin-top: 5px;
	display: block;
	float: left;
}
.windowsTClose {
	float: right;
}
.windowsTClose .windows-button3 {
	background: url(../images/sprite.png) 0 -944px!important;
	height: 20px;
	width: 39px;
	display: block;
	float: left
}
.windowsTClose .windows-button4 {
	background: url(../images/sprite.png) 0 -864px!important;
	height: 20px;
	width: 39px;
	display: block;
	float: left
}
.windowsTClose .windows-button5 {
	background: url(../images/sprite.png) 0 -785px!important;
	height: 20px;
	width: 39px;
	display: block;
	float: left
}
.windowsTClose .windows-button5:hover {
	background: url(../images/sprite.png) 0 -745px!important;
}
.windowsMiddle {
	min-height: 300px;
/*	height: 300px;*/
	min-width: 500px;
/*	width: 500px; */
}
.windowsBar {
	height: 40px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px dotted #e9e9e9;
}
.windowsWrite {
	height: 80px;
	position: relative;
}
.windowsButton {
	overflow: hidden;
	clear:both;
	float:right;
	padding:.5em 1em;
}
.windowsButton .windowsSet {
	width: 70px;
	height: 25px;
	border-radius: 3px;
	background: #2aa7cb;
	display: block;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	float: left;
	margin: 0 10px;
}
.windowsButton .windowsClose {
	width: 70px;
	height: 25px;
	border-radius: 3px;
	background: #2aa7cb;
	display: block;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	float: left;
}
.windowsBar {
	overflow: hidden;
}
.windowsBar .windowsbar {
	float: left;
	margin-top: 7px;
	margin-left: 5px;
}
.windowsBar .record {
	float: right;
	margin-right: 5px;
	line-height: 42px;
}
.windowsBar .record a {
	text-decoration: none;
}
.windowsBar .windowsbar img {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
.windowsMiddle {
	overflow: hidden;
	margin-top: 20px;
	background:#fff;
	
}
.windowsMiddle .other {
	margin-left: 5px;
	overflow: hidden;
	width: 100%;
}
.windowsMiddle .other img {
	width: 25px;
	height: 25px;
	float: left;
	display: block;
}
.windowsMiddle .other span {
	line-height: 25px;
	display: block;
	float: left;
	margin-left: 10px;
}
.windowsMiddle .my span {
	line-height: 25px;
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.windowsMiddle .my {
	margin-right: 5px;
	overflow: hidden;
	width: 100%;
}
.windowsMiddle .my img {
	width: 25px;
	height: 25px;
	float: right;
	display: block;
	margin-right: 5px;
}
.input {
	margin-left: 10px;
	margin-top: 10px;
}

/* chat box */
.content{margin:0;padding:0;}
.jimi_lists {
margin: 0 20px 20px 12px;
}
.fl {
float: left;
}
.jimi_lists .header_img {
width: 50px;
height: 50px;
background: url(../images/jimi_50.png) no-repeat 0 0;
}
.jimi_lists .msg {
margin-left: 60px;
margin-right: 40px;
}
.jimi_lists .lt {
background: url(../images/msgBgLR.png) no-repeat 0 0;
width: 10px;
height: 9px;
}
.jimi_lists .tt {
background: url(../images/jimiMsgBgTD.png) repeat-x 0 -4px;
height: 9px;
}
.jimi_lists .rt {
background: url(../images/msgBgLR.png) no-repeat -22px 0;
width: 3px;
height: 9px;
}
.jimi_lists .lm {
background: url(../images/msgBgLR.png) repeat-y 0px -14px;
width: 10px;
vertical-align: top;
}
.jimi_lists .mm {
padding: 0 5px 0 8px;
background-color: #eaf6ff;
word-break: break-all;
word-wrap: break-word;
color: #3e3e3e;
}
.jimi_lists .rm {
background: url(../images/msgBgLR.png) repeat-y -55px 0;
width: 3px;
}
.jimi_lists .lb {
background: url(../images/msgBgLR.png) no-repeat 0 -64px;
width: 10px;
height: 9px;
}
.jimi_lists .bm {
background: url(../images/jimiMsgBgTD.png) repeat-x 0 -6px;
height: 10px;
}
.jimi_lists .rb {
background: url(../images/msgBgLR.png) no-repeat -22px -64px;
width: 3px;
height: 9px;
}
.customer_lists {
position: relative;
margin: 0 14px 20px 80px;
overflow:hidden;
}

.customer_lists .header_img {
position: absolute;
top: 0;
right: 14px;
width: 50px;
height: 50px;
}
.customer_lists .header_img_hover {
position: absolute;
background: url(../images/avatar_mask_01.png);
top: 0;
width: 50px;
height: 50px;
}
.customer_lists .msg {
float: right;

}
.customer_lists .lt {
background: url(../images/msgBgLR.png) no-repeat -98px 0;
width: 3px;
height: 9px;
}
.customer_lists .tt {
background: url(../images/customerMsgBgTD.png) repeat-x 0 -4px;
height: 9px;
}

.customer_lists .rt {
background: url(../images/msgBgLR.png) no-repeat -110px 0;
width: 10px;
height: 9px;
}
.customer_lists .lm {
background: url(../images/msgBgLR.png) repeat-y -72px 0;
width: 3px;
}
.customer_lists .mm {
padding: 0 5px 0 8px;
background-color: #fcfbf5;
word-break: break-all;
word-wrap: break-word;
color: #3e3e3e;
}
.customer_lists .rm {
background: url(../images/msgBgLR.png) repeat-y -84px 0;
width: 10px;
vertical-align: top;
}
.customer_lists .rm span {
background: url(../images/msgBgLR.png) no-repeat -110px -12px;
display: inline-block;
width: 10px;
height: 14px;
}
.customer_lists .lb {
background: url(../images/msgBgLR.png) no-repeat -98px -64px;
width: 3px;
height: 9px;
}
.customer_lists .bm {
background: url(../images/customerMsgBgTD.png) repeat-x 0 -8px;
height: 10px;
}
.customer_lists .rb {
background: url(../images/msgBgLR.png) no-repeat -110px -64px;
width: 10px;
height: 9px;
}
.header_img_h{background:url(../images/cus.png) no-repeat;height:50px;width:50px;float:right;}


