<h1>Real Time</h1>
<!--[if lt IE 7]>
<script src="json2.js"></script>
<![endif]-->
<script src="http://192.168.1.161:5000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
  var socket = io.connect('http://192.168.1.161:5000', {transports:['websocket']});
  socket.on('connect', function () {
      socket.on('mqtt', function (msg) {
	alert(msg);
	});
      socket.emit('init', {client_id:'1'});
      socket.on('init_ok', function(code) {
	socket.emit('subscribe',{topic:'/sensor/OTGW/returntemp'});
      });
      });
    </script>
    <table class="tablegv" style="width: 500px;">
      <tbody>
	<tr class="tablegvHeader">
	  <td colspan="2"><center>Status</center></td>
	</tr>
	<tr>
	  <td>Return temp</td>
	  <td id="returntemp"></td>
	</tr>
      </tbody>
    </table>
